<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="shiverview"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Light of the Silent Star</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- For Google bots -->
    <meta name="fragment" content="!">

    <link href="{{ "/dist/css/main.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <!-- Favicons -->
    <link rel="icon" href="{{ "/dist/images/icons/favicon.png" | prepend: site.baseurl }}">
    <link rel="shortcut icon" href="{{ "/dist/images/icons/favicon.png" | prepend: site.baseurl }}">
    <meta name="msapplication-TileColor" content="#292e33">
    <meta name="msapplication-TileImage" content="{{ "/dist/images/icons/favicon-144.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon-precomposed" href="{{ "/dist/images/icons/favicon-152.png" | prepend: site.baseurl }}">

    <!-- Place anything custom after this. -->
  </head>
  <body ng-controller="bodyCtrl">
    <div class="ngProgress" ng-controller="progressCtrl"></div>
    {% raw %}
    <div class="controls">
      <button class="prev" ng-click="go(-1)" ng-disabled="index < 0"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></button>
      <rzslider id="slider" class="slider" rz-slider-model="selectedSol" rz-slider-floor="-1" rz-slider-ceil="sol" rz-slider-always-show-bar="true" rz-slider-translate="sliderTranslate" rz-slider-on-end="go()"></rzslider>
      <button href class="next" ng-click="go(1)" ng-disabled="index >= archive.length - 1"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button>
    </div>
    {% endraw %}

    <div class="view-animate-container">
      <div ng-view class="view-animate"></div>
    </div>

    <!--[if lt IE 9]>
    <script src="{{ "/components/es5-shim/es5-shim.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/components/json3/lib/json3.min.js" | prepend: site.baseurl }}"></script>
    <![endif]-->

    <!-- bower:js -->
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-animate/angular-animate.js"></script>
    <script src="components/angular-route/angular-route.js"></script>
    <script src="components/angular-touch/angular-touch.js"></script>
    <script src="components/ngprogress/build/ngprogress.js"></script>
    <script src="components/angularjs-slider/dist/rzslider.js"></script>
    <!-- endbower -->

    <script>
      (function (angular) {
        var sv = document.sv = angular.module('shiverview', /*<!-- Ng Mod Inject*/['ngProgress', 'ngAnimate', 'ngRoute', 'ngTouch', 'rzModule']/*--!>*/);
        sv.config(['$routeProvider', function ($routeProvider) {
          $routeProvider.when('/', {
            templateUrl: 'static/index.html',
            controller: 'viewCtrl'
          })
          {% for post in site.posts %}
          .when('/{{post.sol}}', {
            templateUrl: '{{ post.url | prepend: site.baseurl }}',
            controller: 'viewCtrl'
          })
          {% endfor %}
          /*<!-- Ng Route Inject --!>*/
          .otherwise('/');
        }]);
        sv.factory('archive', function ($rootScope) {
          return [
            {% for post in site.posts %}
            {
              title: "{{post.title}}",
              sol: {{post.sol}}
            },
            {% endfor %}
          ];
        });
      })(window.angular);

    </script>
    <script src="{{ "/dist/js/controllers.js" | prepend: site.baseurl }}"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51303179-1', 'auto');
      ga('require', 'displayfeatures');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');
    </script>

  </body>
</html>
